{{ define "main" }}

<div class="mx-auto">
    <div class="col-md-5 col-sm-12 text-center mx-auto pt-2 pb-5">
        <h1 class="h1">Minhas Receitas</h1>
        <h3 class="h3">Sugestões de receitas práticas para facilitar a sua vida.</h3>
        <h3 class="h3 btn-alert text-white rounded py-2">Não atendo encomendas! Apenas compartilho as receitas.</h3>
        <hr>
    </div>

    {{ range .Site.Pages }}
    {{ if in .Params.category "articles" }}

    <div class="col-md-8 col-sm-12 mx-auto py-3">
        <div class="row gx-4 py-2">
            <div class="col-md-3">
                {{ if .Params.image }}
                <a href="{{ .RelPermalink }}">
                    <img src="/articles/images/{{ .Params.image  }}" class="img-fluid" alt="{{ $.Name }}">
                </a>
                {{ end }}
            </div>

            <div class="col-md-9">
                <h3 class="h3">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h3>
                {{ if .Params.summary }}
                <p class="h3">{{ .Params.summary }}</p>
                {{ end }}
            </div>

        </div>
    </div>
    {{ end }}
    {{ end }}
</div>

{{ end }}