{{ define "main" }}

<main aria-label="Content">
    <div class="col-md-10 col-sm-12 mx-auto">
        <h1>{{ .Title }}</h1>
        <h3>{{ .Params.summary }}</h3>

        {{ if .Date}}
        <h3>
            <time datetime="{{ .Date }}">
                <i>
                    {{ .Date | time.Format site.Params.theme_config.date_format }}
                </i>
            </time>
        </h3>
        {{ end }}
    </div>

    <div class="col-md-10 col-sm-12 mx-auto py-5">
        <div class="row gx-1 py-2">
            <div class="col-md-3">
                {{ if .Params.image }}
                <div class="media-card">
                    <img src="/articles/images/{{ .Params.image }}" class="img-fluid" alt="imagem ilustrativa">

                    {{ if .Params.caption }}
                    <p class="caption">{{ .Params.caption }}</p>
                    {{ end }}
                </div>
                {{ end }}

                {{ if .Params.copyright }}
                <div id="copyright" class="justify-content-end">
                    <p>
                        <span class="fa fa-camera"></span>
                        {{ .Params.copyright | markdownify }}
                    </p>
                </div>
                {{ end }}
            </div>

            <div class="col-md-9 ps-5">
                {{ .Content }}
            </div>
        </div>
    </div>
</main>
{{ end }}